<div id="foot">
  <div style="width:100%;background-color:black;color:white;padding-top: 3%; ">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width:22rem;background-color:black;color:white;">
            <div class="card-header" style="font-size:22px;font-weight:bold;">About Tour Buddy</div>
            <div class="card-body">Tour Buddy is a web application that provides a platform to reduce the
              communication gap between the tour agencies and customers to promote tourism</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width:22rem;background-color:black;color:white;">
            <div class="card-header" style="font-size:22px;font-weight:bold;">Contact Info</div>
            <div class="card-body">
              <div class="block-5 mb-5">
                <ul class="list-unstyled">
                  <li><%= image_tag "location.png" ,:style => "width:18px;height:18px;padding-bottom:1px;"%>&nbsp;&nbsp; PUCIT, New Campus</li>
                  <li><%= image_tag "telephone.png" ,:style => "width:18px;height:18px;padding-bottom:1px;"%>&nbsp;&nbsp;&nbsp;Phone : +92 300 4132 345</li>
                  <li><%= image_tag "envelope.png" ,:style => "width:18px;height:18px;padding-bottom:1px;"%>&nbsp;&nbsp;&nbsp;Mail : tourbuddy@info.com</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width:22rem;background-color:black;color:white;">
            <div class="card-header" style="font-size:22px;font-weight:bold;">Quick Links</div>
            <div class="card-body">
              <div class="block-5 mb-5">
                <ul class="list-unstyled">
                  <li>Home</li>
                  <li>Group Tours</li>
                  <li>About Us</li>
                  <li>Sign Up</li>
                  <li>Login</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <br/>
        <div class="card" style="width:40rem;background-color:black;color:gray;">
          <div class="card-body">Copyrights &copy; 2019 Tour Buddy. All Rights Reserved</div>
        </div>
      </div>
    </div>
  </div>
</div>