<!--									<textarea id="comment" rows="2" cols="60" placeholder=" Add Service that u provide in this Event" class="col-md-10"></textarea>-->
<div class="nested-fields ">
  <%= f.text_field :service,class:"col-md-8",style:" border: 1px solid #555; border-radius: 8px;width: 100%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box;"%>
  <%= link_to_remove_association "Remove Service", f ,class:"col-md-3 offset-md-1 tiny ui red button"%>
</div>