<% if user_signed_in? %>
  <h1>Welcome Mr <%=current_user.full_name%></h1>
  <li>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </li>
<% else %>
  <li>
    <%= link_to('Login', new_user_session_path) %>
  </li>
<% end %>
