.nav {
  background-color: #ffffff !important;
}

.primary_color
{
  color : #42A824;
}
.primary_font
{
  font-family: lato;
}

.image_box
{
  width:300px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper:hover
{
  cursor : pointer;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.del_btn
{
  float:right;
}

.sidenav {
  width: auto;
  height: auto;
  position: relative;
  z-index: 1;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.my-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 20px;
  margin-bottom:20px;
  width: 100%;
}

.my-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.fix-nav-top
{
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top:0;
  left:0;
  z-index: 999;
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 1px outset;
}
.pagination {
  clear:both;
  position:relative;
  font-size:11px;
  text-align:center;
}

.pagination span, .pagination a {
  display:inline-block;
  margin: 2px 2px 2px 0;
  padding:6px 9px 5px 9px;
  text-decoration:none;
  color: #ddd;
  background: #222;
}

.pagination .current{
  padding:6px 9px 5px 9px;
  font-weight: bold;
  background: #0950E8;
}

//for comments template css

.comment-section{
  list-style: none;
  max-width: 800px;
  width: 100%;
  margin-top: 50px;
  padding: 10px;
}

.comment{
  display: flex;
  border-radius: 3px;
  margin-bottom: 45px;
  flex-wrap: wrap;
}

.comment.user-comment{
  color:  #808080;
}

.comment.author-comment{
  color:  #60686d;
  justify-content: flex-end;
}

/* User and time info */

.comment .info{
  width: 17%;
}

.comment.user-comment .info{
  text-align: right;
}

.comment.author-comment .info{
  order: 3;
}


.comment .info a{	/* User name */
  display: block;
  text-decoration: none;
  color: #656c71;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 0 3px 0;
}

.comment .info span{	/* Time */
  font-size: 11px;
  color:  #9ca7af;
}


/* The user avatar */

.comment .avatar{
  width: 8%;
}

.comment.user-comment .avatar{
  padding: 10px 18px 0 3px;
}

.comment.author-comment .avatar{
  order: 2;
  padding: 10px 3px 0 18px;
}

.comment .avatar img{
  display: block;
  border-radius: 50%;
}

.comment.user-comment .avatar img{
  float: right;
}





/* The comment text */

.comment p{
  line-height: 1.5;
  padding: 18px 22px;
  width: 50%;
  position: relative;
  word-wrap: break-word;
}

.comment.user-comment p{
  background-color:  #f3f3f3;
}

.comment.author-comment p{
  background-color:  #e2f8ff;
  order: 1;
}

.user-comment p:after{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #f3f3f3;
  left: -8px;
  top: 18px;
}

.author-comment p:after{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #e2f8ff;
  right: -8px;
  top: 18px;
}




/* Comment form */

.write-new{
  width: 50%;
}

.write-new textarea{
  color:  #444;
  font: inherit;

  outline: 0;
  border-radius: 3px;
  border: 1px solid #cecece;
  background-color:  #fefefe;
  box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.06);
  overflow: auto;

  width:100%;
  min-height: 80px;
  padding: 15px 20px;
}

.write-new img{
  border-radius: 50%;
  margin-top: 15px;
}

.comment-submit-button{
  float:right;
  background-color:  #87bae1;
  box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  border: 0;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;

  padding: 10px 25px;
  margin-top: 18px;
}



/* Responsive styles */

@media (max-width: 800px){
  /* Make the paragraph in the comments take up the whole width,
  forcing the avatar and user info to wrap to the next line*/
  .comment p{
    width: 100%;
  }

  /* Reverse the order of elements in the user comments,
  so that the avatar and info appear after the text. */
  .comment.user-comment .info{
    order: 3;
    text-align: left;
  }

  .comment.user-comment .avatar{
    order: 2;
  }

  .comment.user-comment p{
    order: 1;
  }


  /* Align toward the beginning of the container (to the left)
  all the elements inside the author comments. */
  .comment.author-comment{
    justify-content: flex-start;
  }


  .comment-section{
    margin-top: 10px;
  }

  .comment .info{
    width: auto;
  }

  .comment .info a{
    padding-top: 15px;
  }

  .comment.user-comment .avatar,
  .comment.author-comment .avatar{
    padding: 15px 10px 0 18px;
    width: auto;
  }

  .comment.user-comment p:after,
  .comment.author-comment p:after{
    width: 12px;
    height: 12px;
    top: initial;
    left: 28px;
    bottom: -6px;
  }

  .write-new{
    width: 100%;
  }
}
